/* =====================================================================
// All links.
// ===================================================================*/
a, a:visited, a:active {
  color: #003366;
  text-decoration: none;
}


/* =====================================================================
// All links in hover mode.
// ===================================================================*/
a:hover {
  color: #CC0066;
}


/* =====================================================================
// All horizontal lines.
// ===================================================================*/
hr {
  background-color: #D2E1F0;
  border: #B1CBE4 solid 1px;
  height: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* =====================================================================
// HTML element.
// ===================================================================*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* =====================================================================
// Body element.
// ===================================================================*/
body {
  background-color: #A6C4E1;
  color: #003366;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* =====================================================================
// DIV element to center the whole page.
// ===================================================================*/
div.center {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


/* =====================================================================
// Chat title.
// ===================================================================*/
div.chat-title {
  background-color: #97B2CC;
  color: #003366;
  font-size: 20px;
  font-style: italic;
  padding: 15px;
}


/* =====================================================================
// Tools bar.
// ===================================================================*/
div.tools {
  background-color: #A6C4E1;
  color: #003366;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 10px 11px;
  text-align: center;
  width: 95%;
}


/* =====================================================================
// Normal buttons.
// ===================================================================*/
span.button {
  background-color: #81AAD3;
  border: #CFDFEF solid 1px;
  color: #003366;
  font-size: 12px;
  padding: 4px;
}


/* =====================================================================
// Input field - Name.
// ===================================================================*/
input.name, input.password {
  background-color: #EFF4FA;
  border: #73A2D1 solid 1px;
  color: #003366;
  padding: 2px;
  text-align: left;
}


/* =====================================================================
// Status display - Ok.
// ===================================================================*/
input.status-ok {
  background-color: #42D282;
  border: #73A2D1 solid 1px;
  color: #20500D;
  padding: 2px;
  text-align: center;
  width: 40px;
}


/* =====================================================================
// Status display - Fail.
// ===================================================================*/
input.status-fail {
  background-color: #E74125;
  border: #73A2D1 solid 1px;
  color: #771F10;
  padding: 2px;
  text-align: center;
  width: 40px;
}


/* =====================================================================
// Input field - Time.
// ===================================================================*/
input.time {
  background-color: #EFF4FA;
  border: #73A2D1 solid 1px;
  color: #003366;
  padding: 2px;
  text-align: center;
}


/* =====================================================================
// Input field - Countdown.
// ===================================================================*/
input.countdown {
  background-color: #BCD2E9;
  border: #73A2D1 solid 1px;
  color: #003366;
  padding: 2px;
  text-align: center;
}


/* =====================================================================
// Textarea - Output.
// ===================================================================*/
textarea.output {
  background-color: #DCE7F4;
  border: #73A2D1 solid 1px;
  color: #003366;
  font-family: monospace;
  height: 50%;
  padding: 10px;
  margin-bottom: 0;
  text-align: left;
  width: 95%;
}


/* =====================================================================
// Textarea - Input.
// ===================================================================*/
textarea.input {
  border: 1px solid #73A2D1;
  border-top-color: #EFF4FA;
  background-color: #EFF4FA;
  color: #003366;
  height: 20px;
  padding: 10px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  width: 95%;
}


/* =====================================================================
// Send button.
// ===================================================================*/
div.send {
  background-color: #81AAD3;
  border: #CFDFEF solid 1px;
  color: #003366;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 60px;
}


/* =====================================================================
// Copyright.
// ===================================================================*/
div.copyright {
  background-color: #A6C4E1;
  color: #4C7CAC;
  font-size: 11px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 320px;
}


/* =====================================================================
// Copyright link.
// ===================================================================*/
a.copyright, a.copyright:visited, a.copyright:active {
  background-color: #A6C4E1;
  color: #316191;
}


/* =====================================================================
// Copyright link in hover mode.
// ===================================================================*/
a.copyright:hover {
  background-color: #A6C4E1;
  color: #CC0066;
}
